<!DOCTYPE html>
<html>
<link rel="stylesheet" href="mainCSS.css">
<link href="https://fonts.googleapis.com/css?family=Montaga&display=swap" rel="stylesheet">
<head class="bg">
    <title>Blog</title>
</head>
<body class="bg">
  
  <header> </header>
  
  <content>

      <form id="loginform">
	    
	      <input type="text" class="login" id="username" placeholder="User name">
      
          <input type="password" class="login" id="pass" placeholder="Password">
		  
		  <button id="loginbtn">Log In</button>
	    
	  </form>
  </content>
 </body>
</html>